:root{
  
  /* Color variables */
  --color-primary-light: #FEFEFE; 
  --color-light: #A6A6A6; /*color for the search bar */
  --color-secondary: #58FF2F;

  /* Font Variables */
  --font-family:"Montserrat", sans-serif;
  --font-size-heading: 32px;
  --font-size-semi: 20px;
  --font-size-sm: 15px;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
}

body{
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: #000000;
  height: 100vh;
}

.hero-section{
  background-image: url(/IMAGES/main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 120dvh;
  
}


/* Hint of Styles for section to be done by +rytt */

/* .overlay{
  position: relative;
  height: 40rem; 
  margin-inline: 130px;
  background-color: #A6A6A6;
  top: -50px;
} */

/* End of scetion */

/* General Header styles */
.header{
  background-color: #0B1215;
  color: var(--color-primary-light);
  height: 60px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 9rem;
  padding-inline: 120px;
  z-index: 111;
  position: fixed;
  width: 100vw;
  box-shadow: 2px 3px 5px #333;
}

/* Mobile hidden style */
.mbl__header{
  display: none;
}

.mbl__test{
  display: none;
}
/* End of mobile hidden style */

/* Logo Styles */
.logo{
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  color: var(--color-primary-light);
}
#lg-green{
  color: var(--color-secondary);
}
/* End of logo styles */

/* Nav links styles */
.navlinks{
  display: flex;
  gap: 20px; 
  
}

ul li{
  list-style-type: none;
}

ul li a{
cursor: pointer;
text-decoration: none;
color: #ffff;
font-size: 13px;
}

ul li a:hover{
  text-decoration: underline;
}
/* End of nav links styles */

#search{
  position: relative;
  z-index: 111;
  cursor: pointer;
}

#input{
  position: absolute;
  border: none;
  padding: 6px;
  
  margin: -3px 0 0 -25px ;
  padding-left: 30px;
  border-radius: 15px;
  
}

input{
  border-radius: 15px;
  border: none;
  padding: 6px;
}

/* End of header section Styles */

/* desc Section */
#desc{
  width: 50rem;
  padding: 15px;
  position: absolute;
  top: 17rem;
  left: 7.5rem;
  background: #ffffff44;
  backdrop-filter: blur(2px);
  animation: leftIn 1.5s ease 1 none;
  border-radius: 24px;
}

/* JS manipulations */
#ntf-txt.show{
  display: block;
}

/* #desc.modified{
  top: 0rem;
  position: relative;
} */

@keyframes shake{
  0%, 100%{transform: translateX(0);}
  25% {transform: translateX(-5px);}
  50% {transform: translateX(5px);}
  75% {transform: translateX(-5px);}
}

.shake{
  animation: shake 0.5s;
}

.green{
  fill: var(--color-secondary);
}

.white{
  fill: white;
}

/* End of JS manipulations */

#ntf-txt{
  width: 12rem;
  height: 15rem;
  padding: 15px;
  position: sticky;
  top: 4.5rem;
  left: 68%;
  z-index: 100;
  display: none;
  border-radius: 10px;
  background: transparent;
  border: 1px solid red;
  backdrop-filter: blur(15px);
  overflow-y: scroll;
  transition: all 2s ease-in;
}

/* Notification scrool bar styles */
#ntf-txt::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}
#ntf-txt:hover::-webkit-scrollbar{
  width: 9px;
}


#ntf-txt::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

#ntf-txt::-webkit-scrollbar-thumb:hover{
  background: #555;
}
/* End of scroll bar */

/* Animations  */

@keyframes leftIn {
  from{
    transform: translateX(-500px);
  } to{
    transform: translateX(0);
  }
}

/* End of animation */

.hero-txt{
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
}

#txt-sm{
  font-size: var(--font-size-semi);
  font-weight: var(--font-weight-normal);
}

.btn{
  padding: 5px;
  display: flex;
  gap: 15px;
}

#gbtn{
  border: none;
  padding: 15px;
  color: var(--color-primary-light);
  background-color: green;
  font-size: var(--font-size-sm);
}
#ibtn{
  border: 1px solid black;
  padding: 15px;
  background-color: #ffffff17;
  font-size: var(--font-size-sm);
}
button:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: all .3s ease-in;
}

/* Start of Middle section Styles */
.overlay{
  background-color: #141111;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  margin-inline: 100px;
  top: -70px;
  padding: 30px 45px;
  }
.overlay-txt{
  padding: 80px 20px;
  color: #FFFFFF;
}
.overlay-body{
  color: #FFFDFD;
}
.contain{
  display: flex;
}
.overlay-btn{
  background-color: #209503;
  color: #FFFFFF;
  height: 40px;
  width: 120px;
  border: none;
  font-size: 16px;
}

.bot-img > img{
  width: 95px;
  height: 95px;
  position: absolute;
  top: -50px;
}

/* Footer Section */

/* .footer{
  display: flex;
  padding-inline: 80px;
  border: 1px solid red;
 
  
}

.footer-left{
border: 1px solid green;
}

.footer-right{
   border: 1px solid cyan;
} */

/* Footer section */

.footer{
  display: flex;
  background-color: #000000;
  color: var(--color-primary-light);
  height: 360px;
  padding: 30px 120px;
}
.footer-right{
  padding: 30px;
}

/* Input */
.input-boxes{
  margin-top: 30px;  
}

.input-boxes .input-box{
  height: 50px;
  width: 90%;
  margin: 10px 0;
  position: relative;
}

.input-box > input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: transparent;
  border-bottom: 2px solid white;
  transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid{
  border-color: var(--color-secondary);
} 
/* End of input */
#footer-btn > button{
  background-color: green;
  color: white;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  width: 450px;
}
#footer-btn > button:hover{
  transform: none;
  animation: shake 0.5s;
}

.article1 > a , .article2  > a {
  color: #FEFEFE;
  text-decoration: none;
  font-size: small;
  margin-left: 70%;
}
 .article1 > a:hover , .article2  > a:hover {
  color: var(--color-secondary);
  text-decoration: underline;
 }
.article{
 width: calc(60%);
 height: 260px;
 padding: 10px;
 overflow-y: scroll;
}

.article > div:hover{
  background-color: #555;
}

#date{
  font-size: x-small;
  margin: 0;
}

#view{
  margin-left: 100px;
  color: blue;
  text-decoration: none;
}

#view:hover{
  color: var(--color-secondary);
  text-decoration: underline;
}

.team{
  background-color: #1E1E1E;
  height: 48px;
  padding-inline: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  color: #FEFEFE;
}

.team > img {
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

#devs{
  padding-top: 10px;
  font-weight: var(--font-weight-bold);
  color: red;
}


.article::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}
.article:hover::-webkit-scrollbar{
  width: 9px;
}


.article::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.article::-webkit-scrollbar-thumb:hover{
  background: #555;
}